.topic {
	&.card{
		background: $color-card-bg-1;

		& .card-avatar {
			max-width : 96px;
			width : 96px;
			max-height : 96px;
			height : 96px;
			border-radius: 100%;
			border : 2px solid white;
			margin-right : 1rem;
		}

		&.self {
			background-color: lighten($color-card-bg-3, 3);
			border : 3px solid darken($color-card-bg-3, 10);
		}
	}
}

