.topic {
	&.card{
		background: $color-card-bg-1;

		& .card-avatar {
			max-width : 96px;
			width : 96px;
			max-height : 96px;
			height : 96px;
			border-radius: 100%;
			border : 2px solid white;
			margin-right : 1rem;
		}
	}
}

